*
# !.vim/
!.Xmodmap
!.Xresources
!.bashrc
!.gitconfig
!.gitignore
!.gitmodules
!.tmux.conf
!.tmux.reset.conf
!.config/redshift.conf
!.urxvt/
!.eslintrc
!bin/
!bin/*
# !.vimrc
# !.emacs.d
!.xbindkeysrc
!.xinitrc
!.xmobarrc
!.xmonad/
!.xmonad/xmonad.hs
!.ideavimrc
!.vrapperrc
!.rtorrent.rc
!.docker-completion.sh
!.pyrc
