[giggle]
	main-window-maximized = false
	main-window-geometry = 1678x997+0+24
	main-window-view = HistoryView
	history-view-vpane-position = 752
	file-view-vpane-position = 916
[user]
	name = Luke Swart
	email = luke@lukeswart.net
[core]
	editor = vim
	excludesfile = /home/lucas/.gitignore_global
[merge]
	tool = kdiff3
[alias]
  st = status
  cm = commit
  outgoing = !git fetch && git log --pretty=oneline --abbrev-commit @{u}..
  incoming = !git fetch && git log --pretty=oneline --abbrev-commit ..@{u}
[push]
	default = simple
[credential]
	helper = cache
