[giggle]
	main-window-maximized = false
	main-window-geometry = 1678x997+0+24
	main-window-view = HistoryView
	history-view-vpane-position = 752
	file-view-vpane-position = 916
[user]
	name = Luke Swart
	email = luke@lukeswart.net
[core]
	editor = vim
	excludesfile = /home/lucas/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[merge]
	tool = kdiff3
[alias]
  st = status --short --branch
  cm = commit
  please = push --force-with-lease
  outgoing = !git fetch && git log --pretty=oneline --abbrev-commit @{u}..
  incoming = !git fetch && git log --pretty=oneline --abbrev-commit ..@{u}
	commend = commit --amend --no-edit
	it = !git init && git commit -m “root” --allow-empty
	stsh = stash --keep-index
	staash = stash --include-untracked
	staaash = stash --all
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
  # dsf = "!f() { [ \"$GIT_PREFIX\" != \"\" ] && cd "$GIT_PREFIX"; git diff --color $@ | diff-so-fancy | less --tabs=4 -RFX; }; f"
[push]
	default = simple
[credential]
	helper = cache
[diff]
  compactionHueristic = true
